<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web UI Automation Health Check Suite" parallel="false">
    <listeners>
        <listener class-name="EventListeners.AllureScreenShot"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="Health Check Tests">
        <classes>
            <class name="Tests.KnowledgeGymGermanyTest">
                <methods>
                    <include name="VerifyKnowledgeGymGermanyHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.KnowledgeGymSingaporeTest">
                <methods>
                    <include name="VerifyKnowledgeGymSingaporeHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.AIConversationCoachTest">
                <methods>
                    <include name="VerifyAIConversationCoachHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.AIKnowledgeAssistantTest">
                <methods>
                    <include name="VerifyAIKnowledgeAssistantHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.AdminBeCourseCatalogueTest">
                <methods>
                    <include name="VerifyAdminBeCourseCatalogueHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.AdminEdocTest">
                <methods>
                    <include name="VerifyAdminEdocHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.AdminThinkingGymTest">
                <methods>
                    <include name="VerifyAdminThinkingGymHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.UserBeCourseCatalogueTest">
                <methods>
                    <include name="VerifyUserBeCourseCatalogueHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.UserEdocTest">
                <methods>
                    <include name="VerifyUserEdocHealthCheck"/>
                </methods>
            </class>
            <class name="Tests.UserThinkingGymTest">
                <methods>
                    <include name="VerifyUserThinkingGymHealthCheck"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>